<template>
  <svg :width="size" :height="size" :viewBox="viewBox">
    <g>
      <circle
        cx="0"
        cy="0"
        :r="radius"
        fill="none"
        :stroke="color"
        :stroke-width="lineWidth"
      />
      <line
        :x1="-centerLineX"
        :y1="-centerLineY"
        :x2="centerLineX"
        :y2="-centerLineY"
        :stroke="color"
        :stroke-width="lineWidth"
      />
      <line
        :x1="-centerLineX"
        :y1="centerLineY"
        :x2="centerLineX"
        :y2="centerLineY"
        :stroke="color"
        :stroke-width="lineWidth"
      />
      <template v-if="showBox">
        <rect
          :x="-centerFontLength / 2"
          :y="-centerFontSize / 2"
          :width="centerFontLength"
          :height="centerFontSize"
          fill="#cccccc"
        ></rect>
        <rect
          :x="-topFontLength / 2"
          :y="topCenterY - topFontSize / 2"
          :width="topFontLength"
          :height="topFontSize"
          fill="#cccccc"
        ></rect>
        <rect
          :x="-bottomFontLength / 2"
          :y="bottomCenterY - bottomFontSize / 2"
          :width="bottomFontLength"
          :height="bottomFontSize"
          fill="#cccccc"
        ></rect>
      </template>
      <text
        x="0"
        y="0"
        :dy="(centerFontSize / 2.0) * 0.9"
        text-anchor="middle"
        :fill="color"
        stroke="none"
        :font-size="centerFontSize"
        :textLength="centerFontLength"
      >
        {{ date }}
      </text>
      <text
        x="0"
        :y="topCenterY"
        :dy="(topFontSize / 2.0) * 0.9"
        text-anchor="middle"
        :fill="color"
        stroke="none"
        :font-size="topFontSize"
        :textLength="topFontLength"
      >
        {{ topName }}
      </text>
      <text
        x="0"
        :y="bottomCenterY"
        :dy="(bottomFontSize / 2.0) * 0.9"
        text-anchor="middle"
        :fill="color"
        stroke="none"
        :font-size="bottomFontSize"
        :textLength="bottomFontLength"
      >
        {{ bottomName }}
      </text>
    </g>
  </svg>
</template>

<script>
export default {
  name: "NameStamp",
  props: {
    topName: String,
    bottomName: String,
    date: String,
    showBox: Boolean,
  },
  data() {
    return {
      size: 300,
      lineWidth: 6,
      centerRatio: 0.25,
      centerFontSizeRatio: 0.8,
      centerFontLengthRatio: 0.9,
      topOffsetRatio: 0.1,
      topFontSizeRatio: 0.8,
      bottomOffsetRatio: 0.1,
      bottomFontSizeRatio: 0.8,
      color: "#cc0000",
    };
  },
  computed: {
    viewBox() {
      return [-this.size / 2.0, -this.size / 2.0, this.size, this.size];
    },
    radius() {
      return (this.size * 0.9) / 2;
    },
    centerLineY() {
      return this.radius * this.centerRatio;
    },
    centerLineX() {
      return this.radius * Math.cos(Math.asin(this.centerRatio));
    },
    centerFontSize() {
      return this.centerLineY * this.centerFontSizeRatio * 2;
    },
    centerFontLength() {
      return this.centerLineX * this.centerFontLengthRatio * 2;
    },
    topCenterY() {
      return -(
        (this.radius * (1.0 + this.centerRatio - this.topOffsetRatio)) /
        2.0
      );
    },
    topFontSize() {
      return (
        this.radius *
        (1.0 - this.centerRatio - this.topOffsetRatio) *
        this.topFontSizeRatio
      );
    },
    topFontLength() {
      return (
        this.radius *
        Math.cos(
          Math.asin((-this.topCenterY + this.topFontSize / 2.0) / this.radius)
        ) *
        2.0
      );
    },
    bottomCenterY() {
      return (
        (this.radius * (1.0 + this.centerRatio - this.bottomOffsetRatio)) / 2.0
      );
    },
    bottomFontSize() {
      return (
        this.radius *
        (1.0 - this.centerRatio - this.bottomOffsetRatio) *
        this.bottomFontSizeRatio
      );
    },
    bottomFontLength() {
      return (
        this.radius *
        Math.cos(
          Math.asin(
            (this.bottomCenterY + this.bottomFontSize / 2.0) / this.radius
          )
        ) *
        2.0
      );
    },
  },
};
</script>
