<template>
  <v-app>
    <v-app-bar app color="primary" dark> </v-app-bar>

    <v-main>
      <v-container>
        <v-row align="center" justify="center" class="text-center">
          <v-col>
            <p>
              <NameStamp
                :topName="topName"
                :bottomName="bottomName"
                :date="dateString"
              />
            </p>
            <p>
              <v-btn color="primary" v-on:click="getImage">save as image</v-btn>
            </p>
          </v-col>
          <v-col>
            <p>
              <v-text-field outlined label="top" v-model="topName" />
            </p>
            <p>
              <v-text-field outlined label="bottom" v-model="bottomName" />
            </p>
            <p>
              <v-date-picker v-model="date" />
            </p>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import dayjs from "dayjs";

import NameStamp from "./components/NameStamp";

export default {
  name: "App",

  components: {
    NameStamp,
  },

  data: () => ({
    date: null,
    topName: "",
    bottomName: "",
  }),
  created() {
    const today = new Date();
    this.date = dayjs(today).format("YYYY-MM-DD");
  },
  computed: {
    dateString() {
      return dayjs(this.date).format("YYYY.MM.DD");
    },
  },
  methods: {
    getImage() {
      const svg = document.querySelector("svg");
      const svgData = new XMLSerializer().serializeToString(svg);
      const canvas = document.createElement("canvas");

      canvas.width = svg.width.baseVal.value;
      canvas.height = svg.height.baseVal.value;

      const ctx = canvas.getContext("2d");
      const image = new Image();

      image.onload = () => {
        ctx.drawImage(image, 0, 0);
        const tmp = document.createElement("a");
        tmp.href = canvas.toDataURL("image/png");
        tmp.setAttribute(
          "download",
          `namestamp_${this.topName}_${this.bottomName}_${this.dateString}.png`
        );
        tmp.dispatchEvent(new MouseEvent("click"));
      };
      image.src =
        "data:image/svg+xml;charset=utf-8;base64," +
        btoa(unescape(encodeURIComponent(svgData)));
    },
  },
};
</script>
